<div class="session_css is-mobile">
  <div class="child">
    <%= form_for(:session, url: login_path) do |f| %>

    <%= f.email_field :email,:placeholder => "メールアドレスを入力してね！" , class: 'input is-info form-group is-rounded' %>

    <%= f.password_field :password,:placeholder => "パスワードを入力してね！" , class: 'input is-info form-group is-rounded' %>

    <%= f.submit 'ログイン！', class: 'button is-primary' %>

    <% end %>
  </div>
</div>
