<% if logged_in? %>
  <ul class="nav nav-tabs nav-justified">
  <li><a href="#">新規ミドルネーム作成</a></li>
  <li><a href="#">人気ランキング</a></li>
  <li><%= link_to 'ユーザー設定', user_path(current_user) %></a></li>
</ul>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h4 class= "text-center">
        日本では、古来からカバネや氏などを今の苗字と名前の間に挟んでいました。</br>
        なので、現代の名前で間にミドルネームを入れるとどうなるかを検証できるページです！
      </h4>
      <%= link_to '新規登録', signup_path, class: 'btn btn-lg btn-primary' %>
      <%= link_to 'ログイン', login_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>