.design {
  padding: 100px 0;
}

.margin-title {
  margin-bottom: 20px;
}

.sub {
  text-align: left;
}

.bg-box {
  background-color: white;
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  color: #6091d3;
  background: #FFF;
  border: solid 3px #6091d3;
  border-radius: 10px;

  p {
    margin: 0;
    padding: 0;
  }

  h1 {
    color: black;
    padding: 0;
  }
}
.text-color {
  color: #FF8C00;
  background: -webkit-linear-gradient(#05FBFF, #1E00FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
